<div class="container about-me">
  <div class="row">
    <div class="col-12">
      <!-- <h2 class="text-center">Über Mich</h2> -->
      <div class="profile-images">
        <img src="../../../assets/images/placeholder.jpg" alt="" class="profile img-rounded left">
        <img src="../../../assets/background/don.jpg" alt="" class="profile img-rounded">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-profile">

      <p>Mein Name ist Anna Koschmidder und gemeinsam mit Mopsrüde Don Juan und Rottweilerdame
        Bea wohnen wir im ländlichen Mörlenbach im Odenwald. <br><br> Don Juan lebt seit März 2013 bei mir
        und durch diverse Mopsforen bei Facebook sind wir im September 2013 zu unserem ersten
        Mopstreffen gereist und hatten ein wunderschönes Wochenende. Nach und nach haben wir im
        näheren und weiteren Umkreis weitere Mopstreffen besucht und irgendwann kam die Idee, selbst
        mal ein Treffen auf die Beine zu stellen. Ich war in der Vergangenheit schon immer sehr
        interessiert an Themen rund um das Eventmanagement. </p>
    </div>

    <div class="col-md-6">
      <p> Die Planung, Organisation,
        Durchführung und Zusammenarbeit mit anderen Personen hat mir schon immer großen Spaß
        bereitet. Da ich zu diesem Zeitpunkt noch in der Ausbildung gesteckt habe, war es mir auch nicht
        möglich mich finanziell groß im Tierschutz einzubringen.
        <br><br>
        Dementsprechend sah ich die
        Möglichkeit, durch das Treffen etwas Gutes tun zu können. Auf der Suche nach einem
        geeigneten Gelände, bin ich durch eine Bekannte auf den Verein der Hundefreunde Ladenburg
        gestoßen. Obwohl ich zu diesem Zeitpunkt kein Mitglied war, wurde ich sofort freundlich
        aufgenommen und die Zusage, das Treffen dort ausrichten zu können hat mich sehr gefreut. Der
        Hundeverein kümmert sich jedes Jahr um das leibliche Wohl der Gäste, stellt Platz und
        Ausrüstung zur Verfügung und ist für mich wichtigster Ansprechpartner bei der Planung.</p>
    </div>
  </div>

</div>
