<nav class="navbar">
  <a class="navbar-brand" href="/">
    <img src="../assets/logo/logo_without_text.png" class="" height="48" alt=""></a>
  <div class="navbar-expand mr-auto">
    <ul class="navbar-nav">
      <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/">Home</a></li>
      <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/images">Bilder</a></li>
      <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/contact">Kontakt</a></li>
    </ul>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>