<div class="container" [ngStyle]="{'margin-top': '20px'}">
  <div class="row">
    <div class="col-12">
      <h4>Rückblick</h4>
      <p *ngIf="Year === 2015">
        <span class="text-center" countUp [startVal]="start" [endVal]="SpendenSumme[0]">
        </span>
        € Spendensumme
      </p>
      <p *ngIf="Year === 2016" >
        <span class="text-center" countUp [startVal]="start" [endVal]="SpendenSumme[1]">
        </span>
        € Spendensumme
      </p>
      <p *ngIf="Year === 2017">
        <span class="text-center" countUp [startVal]="start" [endVal]="SpendenSumme[2]">
        </span>
        € Spendensumme
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">

      <div *ngIf="Year === 2015">
        <img src="" alt="">
      </div>

    </div>
    <div class="col-6">

    </div>
  </div>
  <div class="row">

    <div class="col-12 text-center">
      <iframe *ngIf="Year === 2015" width="70%" height="350px" src="https://www.youtube.com/embed/C-tZtfLcXQo"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe *ngIf="Year === 2017" width="70%" height="350px" src="https://www.youtube.com/embed/8F1SjW498LE"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
