
.col-logo {
  text-align: center;
}

.col-profile {
  text-align: right;
}

.img-logo {
  max-width: 300px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #796A5A !important;
}
