<div class="container">
  <div class="row">
    <div class="col col-logo">
      <img src="../assets/logo/logo.png" alt="logo" class="img-logo img-fluid">
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-4" [ngStyle]="{'padding-top': '25px'}">
      <hr>
    </div>
    <div class="col-4">
      <p [ngStyle]="{'font-weight': 500}" class="text-center">Hier finden Sie Rückblicke der letzten Jahre, Infos zu
        den Sponsoren und künftigen Treffen
        sowie Vereine, die
        wir durch die Spendeneinnahmen unterstützen.</p>
    </div>
    <div class="col-4" [ngStyle]="{'padding-top': '25px'}">
      <hr>
    </div>
  </div> -->

</div>
<app-about-me></app-about-me>
<div class="container" [ngStyle]="{'margin-top': '50px'}">
  <div class="row">

    <div class="col-12 text-center">
      <!-- <img class="img-fluid" src="../../assets/images/lookback.jpg" alt="look back"> -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-tab-group>
        <mat-tab label="2015">
          <app-year [year]="2015"></app-year>
        </mat-tab>
        <mat-tab label="2016">
          <app-year [year]="2016"></app-year>
        </mat-tab>
        <mat-tab label="2017">
          <app-year [year]="2017"></app-year>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row">
    <app-sponsors></app-sponsors>
  </div>
  <div class="row">
    <app-help></app-help>
  </div>
</div>
